@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.show {
  height: 100vh  !important;
}

.noscroll {
  overflow-y: hidden;
}

[aria-hidden="true"] {
  display: none;
}

[area-hidden="false"] {
  display: block;
}

.hide {
  display: none;
}

.text-center {
  text-align: center !important;
}

.input-field {
  position: relative;
  height: 40px;
}

.input-field input[type="text"], .input-field input[type="email"], .input-field input[type="tel"] {
  position: absolute;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 18px;
  font-size: 16px;
  width: 100%;
  color: #fff;
  outline: none;
}

.input-field input[type="text"]:focus + label, .input-field input[type="text"]:valid + label, .input-field input[type="email"]:focus + label, .input-field input[type="email"]:valid + label, .input-field input[type="tel"]:focus + label, .input-field input[type="tel"]:valid + label {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  font-size: 14px;
  color: #fff;
  padding: 2px 6px;
}

.input-field input[type="text"]:focus ~ span:before, .input-field input[type="text"]:valid ~ span:before, .input-field input[type="email"]:focus ~ span:before, .input-field input[type="email"]:valid ~ span:before, .input-field input[type="tel"]:focus ~ span:before, .input-field input[type="tel"]:valid ~ span:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-field span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: #555;
  width: 100%;
  height: 2px;
}

.input-field span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b0ff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.underline {
  position: relative;
  display: block;
  font-family: 'Raleway', sans-serif;
}

.underline::after {
  content: ' ';
  position: absolute;
  width: 40px;
  height: 5px;
  top: 33px;
  left: -10px;
  background-color: #2196f3;
  border-radius: 5px;
}

.main-btn {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid black;
  background: #fff;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.9em;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-btn:hover {
  color: #fff;
}

.main-btn:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.main-btn:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.main-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #000;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.main-btn::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #000;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.curv-btn {
  text-decoration: none;
  background: #ea2228;
  padding: 10px 20px;
  color: #fff;
  border-radius: 25px;
  font-family: 'Open Sans', sans-serif;
}

.black-btn {
  padding: 20px 25px;
  color: #fff;
  background: #000;
  border: none;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/main.png");
  background-size: auto;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

main nav {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main nav .va-nav-items ul li {
  display: inline-block;
  margin: 0 15px 0 15px;
}

main nav .va-nav-items ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1em;
}

main nav .va-nav-items ul li i {
  font-size: 1.8em;
}

@media only screen and (max-width: 867px) {
  main nav .va-nav-items ul {
    display: none;
  }
}

main nav .va-nav-items .active {
  color: #ffec3e;
}

main nav .ham-button {
  z-index: 10001;
}

@media only screen and (max-width: 867px) {
  main nav .ham-button {
    display: block;
  }
}

@media only screen and (min-width: 867px) {
  main nav .ham-button {
    display: none;
  }
}

main nav .ham-button .hamburger {
  outline: none;
}

main nav .ham-button .hamburger-inner {
  background-color: #fff !important;
}

main nav .ham-button .hamburger-inner::before, main nav .ham-button .hamburger-inner::after {
  background-color: #fff !important;
}

main nav .va-mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main nav .va-mob-menu ul {
  width: 100%;
}

main nav .va-mob-menu ul li {
  display: block;
  text-align: center;
  line-height: 50px;
  width: 100%;
}

main nav .va-mob-menu ul li a {
  width: 100%;
  display: block;
  color: #fff;
  text-decoration: none;
}

main nav .va-mob-menu ul li:hover {
  background: yellow;
}

main nav .va-mob-menu ul li:hover > a {
  color: #000;
}

main .va-booking {
  position: fixed;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -175px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 500;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .va-booking:hover {
  left: 0;
}

main .va-booking .va-request {
  background: #152841;
  height: 100%;
  padding: 18px 15px;
}

main .va-booking .va-coffee {
  background: #fff;
}

main .brief {
  position: absolute;
  height: 280px;
  width: 350px;
  right: 0;
  z-index: 99;
  bottom: 85px;
}

main .brief img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 992px) {
  main .brief {
    display: none;
  }
}

main .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../img/wave.png");
  background-size: 1000px 100px;
}

main .wave1 {
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  bottom: 0;
}

main .wave2 {
  -webkit-animation: animate2 15s linear infinite;
          animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  bottom: 10px;
}

main .wave3 {
  -webkit-animation: animate2 15s linear infinite;
          animation: animate2 15s linear infinite;
  z-index: 998;
  opacity: 0.2;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  bottom: 15px;
}

main .wave4 {
  -webkit-animation: animate2 5s linear infinite;
          animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  bottom: 20px;
}

main .main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-head canvas {
  z-index: 100;
}

@media only screen and (max-width: 867px) {
  main .main-head {
    display: none;
  }
}

main .m-mob-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .m-mob-head h1 {
  position: relative;
  text-align: center;
  font-size: 5em;
  letter-spacing: 15px;
  white-space: nowrap;
  font-family: 'Amatic SC', cursive;
}

main .m-mob-head h1 .pinnal {
  color: #ffd000 !important;
  background-color: red;
  padding: 0 15px 0 15px;
}

@media only screen and (min-width: 867px) {
  main .m-mob-head {
    display: none;
  }
}

@media only screen and (max-width: 867px) {
  main .m-mob-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main .scrolldown {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 30px;
  display: block;
  cursor: pointer;
  height: 30px;
  -webkit-transform: translateY(-80px) translateX(-50%) rotate(45deg);
          transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

main .scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-animation: scrolldown 1.5s linear infinite;
          animation: scrolldown 1.5s linear infinite;
  opacity: 0;
}

main .scrolldown span:nth-child(1) {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

main .scrolldown span:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

main .scrolldown span:nth-child(3) {
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@-webkit-keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@-webkit-keyframes scrolldown {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  50% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%, 100% {
    top: 5px;
    left: 5px;
    opacity: 1;
  }
}

@keyframes scrolldown {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  50% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%, 100% {
    top: 5px;
    left: 5px;
    opacity: 1;
  }
}

.serv-wrapper h1 {
  text-align: center;
  color: #4e4b4b;
}

.serv-wrapper .underline::after {
  margin-left: 45%;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}

@media only screen and (max-width: 867px) {
  .serv-wrapper .underline::after {
    margin-left: 30%;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

.serv-wrapper .va-services {
  min-height: 80vh;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#203e64), color-stop(50%, #203e64), color-stop(50%, #fff), color-stop(50%, #fff));
  background: linear-gradient(0deg, #203e64 0%, #203e64 50%, #fff 50%, #fff 50%);
  padding-bottom: 50px;
}

.serv-wrapper .va-services .serv-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media only screen and (max-width: 867px) {
  .serv-wrapper .va-services .serv-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.serv-wrapper .va-services .serv-container .card {
  position: relative;
  width: 100%;
  margin: 0 10px;
  padding: 25px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media only screen and (max-width: 867px) {
  .serv-wrapper .va-services .serv-container .card {
    width: 80%;
    margin-top: 15px;
  }
}

.serv-wrapper .va-services .serv-container .card h3 {
  text-align: center;
  padding: 12px 0;
  letter-spacing: 5px;
}

.serv-wrapper .va-services .serv-container .card:hover h3 {
  color: #fff;
}

@media only screen and (max-width: 867px) {
  .serv-wrapper .va-services .serv-container .card:hover h3 {
    color: #000;
  }
}

.serv-wrapper .va-services .serv-container .card:hover div {
  background: #fff;
  color: #ff9100;
  -webkit-box-shadow: 0 0 0 150px #ff9100;
          box-shadow: 0 0 0 150px #ff9100;
}

.serv-wrapper .va-services .serv-container .card div {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 1.5em;
  background: #ff9100;
  color: #fff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.serv-wrapper .va-services .serv-container .card p {
  margin-top: 5px;
}

.serv-wrapper .va-services .serv-container .card .main-btn {
  margin: 25px 0 0 0;
}

.serv-wrapper .va-services .serv-container:hover .card {
  -webkit-transform: perspective(500px) rotateY(30deg);
          transform: perspective(500px) rotateY(30deg);
}

@media only screen and (max-width: 867px) {
  .serv-wrapper .va-services .serv-container:hover .card {
    -webkit-transform: perspective(500px) rotateY(0deg);
            transform: perspective(500px) rotateY(0deg);
  }
}

.serv-wrapper .va-services .serv-container .card:hover {
  -webkit-transform: perspective(500px) rotateY(0deg);
          transform: perspective(500px) rotateY(0deg);
}

.serv-wrapper .va-services .serv-container .card:hover ~ .card {
  -webkit-transform: perspective(500px) rotateY(-30deg);
          transform: perspective(500px) rotateY(-30deg);
}

@media only screen and (max-width: 867px) {
  .serv-wrapper .va-services .serv-container .card:hover ~ .card {
    -webkit-transform: perspective(500px) rotateY(0deg);
            transform: perspective(500px) rotateY(0deg);
  }
}

.va-aboutus {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background: url("../img/web-platform.jpg");
  background-size: cover;
  padding: 50px 150px;
}

@media only screen and (max-width: 867px) {
  .va-aboutus {
    padding: 50px 10px;
  }
}

@media only screen and (max-width: 867px) {
  .va-aboutus {
    background: #eee;
    height: auto;
  }
}

.va-aboutus h2 {
  color: #4e4b4b;
}

@media only screen and (max-width: 867px) {
  .va-aboutus h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 867px) {
  .va-aboutus .underline::after {
    margin-left: 40%;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
}

.va-aboutus p {
  width: 40%;
  color: #666666;
  line-height: 25px;
}

@media only screen and (max-width: 867px) {
  .va-aboutus p {
    width: 100%;
  }
}

.va-aboutus p:first-of-type {
  margin: 20px 0;
}

.va-candoforu-wrapper {
  background-color: #2196f3;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.va-candoforu-wrapper .overlay-bg {
  background: url("../img/pattern-png.png");
  padding: 50px;
}

@media only screen and (max-width: 867px) {
  .va-candoforu-wrapper .overlay-bg {
    padding: 15px;
  }
}

.va-candoforu-wrapper .overlay-bg h2 {
  font-family: 'indie flower', sans-serif;
  text-align: center;
  font-size: 2.5em;
  margin: 25px 0;
}

.va-candoforu-wrapper .overlay-bg .underline::after {
  background: #203e64;
  margin-left: 33%;
  top: 43px !important;
  -webkit-transform: translateX(-33%);
          transform: translateX(-33%);
}

@media only screen and (max-width: 867px) {
  .va-candoforu-wrapper .overlay-bg .underline::after {
    margin-left: 10%;
    top: 45px !important;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

.va-candoforu-wrapper .overlay-bg p {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  text-align: center;
  width: 90%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.va-candoforu-wrapper .overlay-bg form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 35px;
}

@media only screen and (max-width: 867px) {
  .va-candoforu-wrapper .overlay-bg form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.va-candoforu-wrapper .overlay-bg form input[type=text], .va-candoforu-wrapper .overlay-bg form input[type=tel] {
  padding: 10px 15px;
  margin-right: 5px;
  border: none;
  border-radius: 25px;
}

@media only screen and (max-width: 867px) {
  .va-candoforu-wrapper .overlay-bg form input[type=text], .va-candoforu-wrapper .overlay-bg form input[type=tel] {
    margin-bottom: 15px;
  }
}

.va-candoforu-wrapper .overlay-bg form input[type=submit] {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  color: #391854;
  background-color: #ffcb15;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 550;
  cursor: pointer;
  margin-right: 15px;
}

.va-blog {
  padding: 50px;
}

.va-blog h2 {
  text-align: center;
}

.va-blog .underline::after {
  background: #2196f3;
  margin-left: 49%;
  top: 30px !important;
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
}

.va-blog .blog-post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 35px 0;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 867px) {
  .va-blog .blog-post-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.va-blog .blog-post-wrapper .blog-post {
  max-width: 500px;
  display: block;
  margin-left: 15px;
}

@media only screen and (max-width: 867px) {
  .va-blog .blog-post-wrapper .blog-post {
    margin-top: 15px;
  }
}

.va-blog .blog-post-wrapper .blog-post .art-banner {
  position: relative;
  display: block;
  z-index: 1;
  height: 300px;
  overflow: hidden;
}

.va-blog .blog-post-wrapper .blog-post .art-banner img {
  width: 100%;
  height: 100%;
}

.va-blog .blog-post-wrapper .blog-post .art-banner:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s linear ease-in;
  transition: 0.5s linear ease-in;
}

.va-blog .blog-post-wrapper .blog-post .art-heading {
  margin-top: 20px;
}

.va-blog .blog-post-wrapper .blog-post .art-heading .va-tag {
  color: red;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.va-blog .blog-post-wrapper .blog-post .art-heading h3 {
  margin-top: 10px;
  font-weight: bolder;
}

.va-blog .blog-post-wrapper .blog-post .art-heading .date {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}

.va-blog .blog-post-wrapper .blog-post p {
  margin: 15px 0;
}

.pro-section {
  background: #eeeeee;
  font-family: 'Open Sans', sans-serif;
  padding: 50px 0;
}

.pro-section .underline::after {
  background: #2196f3;
  margin-left: 45%;
  top: 30px !important;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}

@media only screen and (max-width: 867px) {
  .pro-section .underline::after {
    margin-left: 32% !important;
    top: 35px !important;
    -webkit-transform: translateX(-32%);
            transform: translateX(-32%);
  }
}

@media only screen and (max-width: 867px) {
  .pro-section .underline::after {
    margin-left: 40% !important;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
}

.pro-section h2 {
  margin-bottom: 55px;
}

.pro-section .pro-wrapper {
  -webkit-column-count: 2;
          column-count: 2;
}

.pro-section .pro-wrapper h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

@media only screen and (max-width: 867px) {
  .pro-section .pro-wrapper {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.pro-section .pro-wrapper .pro-service {
  margin-left: -150px;
  padding-right: 35px;
}

@media only screen and (max-width: 867px) {
  .pro-section .pro-wrapper .pro-service {
    margin-left: 0;
    padding: 50px;
  }
}

.pro-section .pro-wrapper .pro-service h3 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 15px;
}

.pro-section .pro-wrapper .pro-service h3 i {
  margin-right: 5px;
}

.work-together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #B0161D;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 50px;
}

@media only screen and (max-width: 867px) {
  .work-together {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

.work-together p {
  line-height: 1;
  font-weight: 100;
  text-align: center;
  width: auto;
  font-size: 2em;
}

@media only screen and (max-width: 867px) {
  .work-together p {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 867px) {
  .work-together button {
    margin-top: 15px;
  }
}

.work-together .work-with-us {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #313149;
  z-index: 50000;
  overflow-y: scroll;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.work-together .work-with-us i {
  position: absolute;
  float: right;
  top: 35px;
  right: 65px;
  font-size: 2em;
  color: red;
  cursor: pointer;
}

.work-together .work-with-us .logo {
  padding: 35px 0 0 55px;
}

.work-together .work-with-us .main_content {
  margin-left: 50%;
  padding: 25px 0 0 0;
  text-align: left;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 867px) {
  .work-together .work-with-us .main_content {
    margin-left: 0%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    padding: 40px;
  }
}

.work-together .work-with-us .main_content p {
  text-align: left;
  line-height: 25px;
  font-size: 1em;
}

.work-together .work-with-us .main_content form {
  padding: 25px 0 0 0;
}

.work-together .work-with-us .main_content form .input-field {
  margin-top: 50px;
}

.work-together .work-with-us .main_content form button {
  margin-top: 25px;
}

footer .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 50px 25px;
}

@media only screen and (max-width: 867px) {
  footer .top-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

footer .top-footer .logo {
  font-family: 'Poppins', sans-serif;
}

footer .top-footer ul li {
  display: inline-block;
  padding: 0 15px 0 0;
}

footer .top-footer ul li a {
  text-decoration: none;
  color: #4e4b4b;
  font-family: 'Poppins', sans-serif;
}

footer .beneath-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #4e4b4b;
}

@media only screen and (max-width: 867px) {
  footer .beneath-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

footer .beneath-footer a {
  text-decoration: none;
  color: #8f8e8e;
}
/*# sourceMappingURL=main.css.map */